body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-borders {
  border: none !important;
}

.ant-drawer.ant-drawer-open {
  /* z-index: 5000; */
}

.ant-message {
  /* z-index: 10000 !important; */
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.ml {
  margin-left: 10px !important;
}

.mb {
  margin-bottom: 10px !important;
}

.mt {
  margin-top: 10px !important;
}

.text-muted {
  color: #6c757d !important;
}

.no-bg {
  background: none !important;
}

.font-bold {
  font-weight: 500;
}

.text-dark {
  color: #292F36;
}

.half-opacity {
  opacity: .5 !important;
}

.rounded-border {
  border-radius: 10px !important;
}

.elevated-shadow {
  cursor: pointer;
  transition: .5s;
}

.elevated-shadow:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.no-border {
  border: none !important;
}

.custom-alert.green .ant-alert-message, .green {
  color: #08A045 !important;
}

.custom-alert.red .ant-alert-message, .red {
  color: #BF1A2F !important;
}

.width-50 {
  width: 50% !important;
}

.text-center {
  text-align: center !important;
}

.text-dimmed {
  color: #bbb;
}

.font-small {
  font-size: 12px;
}

.ellipsize-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}